[submodule "vim/pack/bbye"]
	path = vim-bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "vim-vinegar"]
	path = vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
