# Mediawiki

# The suffix `c` stands for "Clipboard".

snippet [
	[https://${1:address} ${2:text}]
snippet [*
	[${1:`@*`} ${2:text}]
snippet [[
	[[${1:page}|${2:text}]]
snippet _
	''${1:italic}''
snippet **
	'''${1:bold}'''
snippet ==
	== ${1} ==
snippet ===
	=== ${1} ===
snippet ====
	==== ${1} ====
snippet =====
	===== ${1} =====

snippet TODO
	<span style="background-color: yellow">TODO:</span> ${1:action}
